<template name="dashboard">
  <div class="logOutHeader">
    <div class="dashMenu">
      <a class="logoutButton">Logout</a>
    </div>
  </div>
  <div class="dashboardBox">
    <div class="userInfo">
      <h4>My Profile</h4>
      <ul>
        <li>user: {{username}}</li>
        <li>email: {{userEmail}}</li>
        {{#if currentUser.profile.isAdmin}}
          <li>Id: {{userId}}</li>
          <li>isAdmin: {{#if currentUser.profile.isAdmin}}true{{else}}false{{/if}}</li>
          <li>isEditor: {{#if currentUser.profile.isEditor}}true{{else}}false{{/if}}</li>
        {{/if}}
      </ul>
    </div>
    {{#if currentUser.profile.isAdmin}}
      <div class="usersList">
        <h4>Registered Users ({{registeredUsersCount}})</h4>
        <ul>
          {{#each registeredUsers}}
            <li>
              <span class="removeUser">×</span>
              <span class="isAdmin">{{#if this.profile.isAdmin}}Admin{{else}}<span class="isOff">Admin</span>{{/if}}</span>
              <span class="isEditor">{{#if this.profile.isEditor}}Editor{{else}}<span class="isOff">Editor</span>{{/if}}</span>
              <span class="isUser">{{#if this.profile.isUser}}User{{else}}<span class="isOff">User</span>{{/if}}</span>
              {{this._id}},
              {{this.username}},
              {{registeredUsersEmail}},
              {{registeredUsersCreatedAtIso}}
            </li>
          {{/each}}
        </ul>
        {{#if currentUser.profile.isAdmin}}
          <h4>New User</h4>
          <div class="registerForm">
            {{>register}}
          </div>
        {{/if}}
      </div>
      <div class="adminNote">
        <div>
          // Set permissions to create user accounts in settings.json
        </div>
      </div>
    {{/if}}
    {{#if currentUser.profile.isEditor}}
      <div class="editorNote">
        <div>
          // _debug Docs: <a href="/pool/_debug/1?q=notag">no tags assigned</a>
        </div>
        <div>
          // _debug Docs: <a href="/pool/_debug/1?q=cssbacks">cssbacks assigned</a>
        </div>
      </div>
      <div class="editorNote">
        <div class="noteTitle">
          To search for an exact match, put '~' in front of a word:
        </div>
        <div>
          // Vehicles:  <a href="/pool/~vehicle/1?q=tag">~vehicle</a> (in tags)
        </div>
        <div>
          // Pixoramas:  <a href="/pool/~Pixorama/1?q=project">~Pixorama</a> (in projects)
        </div>
      </div>
      <div class="editorNote">
        <div class="noteTitle">
          To exclude words from your search, put '-' in front of a word you want to leave out:
        </div>
        <div>
          // Exclude buildings:  <a href="/pool/-buildings/1?q=tag">-buildings</a> (in tags)
        </div>
        <div>
          // Exclude parts: <a href="/pool/-PT/1?q=name">-PT</a> (in name)
        </div>
      </div>
    {{/if}}
  </div>
</template>
