@import '../stylesheets/base.less';
@import '../components/pixInput.less';
@import '../components/pixList.less';
@import '../components/navigation/navLinks.less';
@import '../components/navigation/logo.less';

.failedInsertsClass {
  // display: none;
  // background-color: @color-5;
  // border-left: @cell-margin solid red;
  margin: @cell-margin @cell-margin 2 * @cell-margin @cell-margin;
  .errorHeader {
    padding: @cell-margin;
    background-color: @color-5;
    color: #822;
    // margin-bottom: @cell-margin;
  }
  ol {
    // color: @color-5;
    color: #822;
    font-family: @font-meta;
    font-weight: @font-meta-weight;
    font-size: @font-meta-size;
    line-height: @font-meta-lineheight;
    // background-color: #433;
    background-color: rgb(242, 179, 179);
    margin: 0;
    padding-left: 2em;
    padding: @cell-margin;
    li {
      overflow-wrap: break-word;
      margin: 0;
      padding: 0;
      list-style: none
    }
  }
}

.uploadedInfo {
  padding: @cell-margin;
  margin: @cell-margin @cell-margin 0 @cell-margin;
  width: auto;
  // background-color: @color-success;
  background-color: #6f6;
  color: #262;
}
