@import '../stylesheets/layout.less';

@import '../components/dashboard/login.less';
@import '../components/dashboard/register.less';
@import '../components/dashboard/accessinfo.less';
@import '../components/dashboard/dashboard.less';
@import '../components/navigation/sideBox.less';

.registerBox,
.loginBox,
.accessBox {
  display: block;
  padding: @cell-margin;
  width: 100%;
  box-sizing: border-box;
}

.logOutHeader {
  width: 100%;
}

.dashMenu {
  background-color: @color-inputbox;
  text-align: right;
  margin: @cell-margin;
  padding: 0.5*@cell-margin;
}
