@import '../stylesheets/header.less';
@import '../stylesheets/body.less';

@import '../components/navigation/linkStrip.less';
@import '../components/login.less';
@import '../components/register.less';
@import '../components/dashboard.less';
@import '../components/navigation/sideBox.less';

.toggleLogin {
  display: inline-block;
  background-color: @color-4;
  cursor: pointer;
  user-select: none;
  padding: 0 0.5rem;
}
.registerBox {
}
.loginBox {
}
.dashMenu {
  font-family: @font-meta;
  font-weight: @font-meta-weight;
  font-size: @font-meta-size;
  line-height: @font-meta-lineheight;
  text-align: right;
  width: 100%;
  margin: 0;
  padding: 0 2 * @cell-margin;
  // background-color: @color-3;
}
