@import '../stylesheets/layout.less';

@import '../components/navigation/linkStrip.less';
@import '../components/login.less';
@import '../components/register.less';
@import '../components/dashboard.less';
@import '../components/navigation/sideBox.less';

.registerBox {
}
.loginBox {
}
.dashMenu {
  background-color: @color-inputbox;
  text-align: right;
  width: 100%;
  margin: @cell-margin;
  padding: 0.5*@cell-margin;
}
