@import '../components/pix/picSpriteZoom.less';
@import '../components/pix/picMeta.less';

.picMetaBox {
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 15;
  width: 100%;
}
.copyright {
  cursor: pointer;
  position: fixed;
  right: @cell-margin;
  top: @cell-margin;
  margin: @cell-margin;
  margin: 0;
  z-index: 30;
  user-select: none;
  font-family: @font-big;
  padding: 0.25em 0.5em;
  color: @color-headerlink;
  transform: rotate(15deg);
  color: @color-5;
  background-color: @color-0;
  // opacity: 0.9;
  &:hover {
    // opacity: 1;
    color: @color-0;
    background-color: @color-5;
  }
  &:active {
    color: @color-5;
    background-color: @color-0;
  }
}
