@import '../components/pix/picSpriteZoom.less';
@import '../components/pix/picMeta.less';

.spriteBox {
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 20px;
  left: 20px;
  right: 0;
  justify-content: center; /* add to align horizontal */
  align-items: center; /* add to align vertical */
  font-size: @font-meta-size;
  cursor: pointer;
  user-select: none;
}

.picMetaBox {
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 15;
  width: 100%;
  // border-top: 1px solid #333326;
}

.copyright {
  cursor: pointer;
  position: fixed;
  right: @cell-margin;
  top: @cell-margin;
  margin: @cell-margin;
  margin: 0;
  z-index: 30;
  user-select: none;
  font-family: @font-big;
  padding: 0 0.5em;
  color: @color-headerlink;
  &:hover {
    opacity: 1;
  }
  &:active {
    color: @color-2;
    opacity: 1;
  }
}
