<template name="devicesInput">
  <div id="deviceInputBox">
    <form class="new-device">
      <input type="text" name="name" placeholder="name" maxlength="18" size="18"/>
      <input type="text" name="make" placeholder="make" maxlength="18" size="18"/>
      <input type="text" name="width" placeholder="width" maxlength="5" size="5"/>
      <input type="text" name="height" placeholder="height" maxlength="5" size="5"/>
      <button type="submit">Add Device</button>
    </form>
  </div>
</template>
