<template name="colorInput">
  <div id="colorInput">
    <form class="new-color">
      <input type="text" name="name" placeholder="name" />
      <input type="text" name="hue" placeholder="hue" maxlength="3" size="3"/>
      <input type="text" name="saturation" placeholder="sat" maxlength="3" size="3"/>
      <input type="text" name="luminosity" placeholder="lum" maxlength="3" size="3"/>
      <input type="text" name="tag" placeholder="tag" />
      <button type="submit">Add Color</button>
    </form>    
  </div>
</template>
