<template name="dashboard">
  <div class="dashMenu">
    <a class="logoutButton">Logout</a>
  </div>
  <div class="dashboardBox">
    <div class="userInfo">
      <h4>My Profile</h4>
      <ul>
        <li>user: {{username}}</li>
        <li>email: {{userEmail}}</li>
        {{#if currentUser.profile.isAdmin}}
          <li>Id: {{userId}}</li>
          <li>isAdmin: {{#if currentUser.profile.isAdmin}}true{{else}}false{{/if}}</li>
          <li>isEditor: {{#if currentUser.profile.isEditor}}true{{else}}false{{/if}}</li>
        {{/if}}
      </ul>
    </div>
    {{#if currentUser.profile.isAdmin}}
      <div class="usersList">
        <h4>Registered Users ({{usersCount}})</h4>
        <ul>
          {{#each users}}
            <li>
              <span class="removeUser">×</span>
              <span class="isAdmin">{{#if this.profile.isAdmin}}Admin{{else}}<span class="isOff">Admin</span>{{/if}}</span>
              <span class="isEditor">{{#if this.profile.isEditor}}Editor{{else}}<span class="isOff">Editor</span>{{/if}}</span>
              <span class="isUser">{{#if this.profile.isUser}}User{{else}}<span class="isOff">User</span>{{/if}}</span>
              {{_id}},
              {{this.username}},
              {{email}},
              {{userCreatedAt}}
            </li>
          {{/each}}
        </ul>
        {{#if currentUser.profile.isAdmin}}
          <h4>New User</h4>
          <div class="registerForm">
            {{>register}}
          </div>
        {{/if}}
      </div>
      <div class="adminNote">
        // Set permissions to create user accounts in settings.json
      </div>
    {{/if}}
  </div>
</template>
