@import './pic.less';
@import './metadata.less';

.docbox {
  position: relative;
  width: @cell;
  height: @cell;
  background-color: red;
  overflow: hidden;
  margin: 0.5 * @cell-margin;
  // opacity: 0.9;
  // text-align: center;
}

.docbox .deletePic {
  background: @color-delete;
  position: absolute;
}
