@import './picSprite.less';
@import './metadata.less';

.docbox {
  .deletePic {
    position: absolute;
    background: @color-2;
    color: @color-5;
    padding: 0.5 * @cell-margin @cell-margin;
    z-index: 10;
    cursor: pointer;
  }
  .deletePic:hover {
    color: @color-2;
    background-color: @color-5;
  }
}
