.docbox {
  position: relative;
  padding: 1em;
  border-bottom: #eee solid 1px;
}

.docbox li {
  list-style: none;
}

.docbox figure {
    padding: 1em;
    margin: 0;
}

.docbox .deletePic {
  float: right;
  background: #f97070;
  font-size: 1em;
  border: none;
  position: absolute;
}

.docbox img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

.docMeta {
  background-color: #f0f3f0;
  padding: 1em;
}

.property {
  color: #d39322;
}

.tag:after {
  content: ',';
}

.tag:last-of-type:after {
  content: '';
}
