<template name="picMeta">
  <div class="picMeta">
    <ul>
      <li><span class="property">_id: </span>
        {{#if isNotSpriteBoxRoute}}
          <a href="{{toSpriteBoxPath}}">
            {{_id}}
          </a>
        {{else}}
          {{_id}}
        {{/if}}
      </li>
      <li><span class="property">name: </span>{{name}}</li>
      {{#if tags}}
        <li >
          <span class="property">tags:</span> {{#each tags}}
            <span class="tag">{{this}}</span>
          {{/each}}
        </li>
      {{/if}}
      <li><span class="property">dimensions:</span> {{dimensions.width}} &times; {{dimensions.height}}</li>
      <li><span class="property">backgroundColor:</span> {{backgroundColor}}</li>
      <li><span class="property">colorHSL(calc):</span> {{colorHSL.info}}</li>
      <li><span class="property">createdAt:</span> {{createdAt}}</li>
      {{#if project}}
        <li><span class="property">project:</span> {{project}}</li>
      {{/if}}
      <li><span class="property">license:</span> {{license}}</li>
      <li><span class="property">copyright:</span> {{copyright}}</li>
      {{#if fullframe}}
        <li><span class="property">fullframe:</span> {{fullframe}}</li>
      {{/if}}
    </ul>
  </div>
</template>
