.picMeta {
  color: @color-3;
  background-color: @color-1;
  padding: 2 * @cell-margin;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }
  .property {
    color: @color-6;
  }
  .tag:after {
    content: ',';
  }
  .tag:last-of-type:after {
    content: '';
  }
}
