@import './picSprite.less';
@import './picMeta.less';

.picOnListbox {
  display: flex;
  .picSpriteOnList {
    // at 3 column containers
    @media only screen
    and (min-width: (3 * @cell + 4 * @cell-margin)){
      width: 2 * @cell;
    }
    // at 2 column containers
    @media only screen
    and (max-width: (3 * @cell + 4 * @cell-margin)){
      width: @cell;
    }
    // margin-right: 0.5 * @cell-margin;
    // flex-grow: 1;
    overflow: hidden;
    display: inline-block;
    padding: 0;
    // background-color: red;
    // box-shadow: @boxshadow-1;
  }
  .picMetaEdit {
    // line-height: 1rem;
    font-size: 0.8rem;
    width: @cell - 2 * @cell-margin;
    flex-grow: 2;
    display: inline-block;
    background-color: @color-1;
    padding: @cell-margin;
    // box-shadow: @boxshadow-1;
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style: none;
      // background-color: @color-8;
    }
    .property {
      color: @color-6;
      background-color: @color-1;
    }
    .tag:after {
      content: ',';
    }
    .tag:last-of-type:after {
      content: '';
    }
  }
  .picLabel {
    position: absolute;
    background: @color-2;
    padding: 0;
    padding: 0.5 * @cell-margin @cell-margin 0.5 * @cell-margin 0;

  }
  .deletePic {
    padding: 0.5 * @cell-margin @cell-margin;
    color: @color-5;
    z-index: 10;
    cursor: pointer;
  }
  .fileName {
    color: @color-1;
  }
  .deletePic:hover {
    color: @color-2;
    background-color: @color-5;
  }
  .editName {
    cursor: pointer;
  }
  .editMeta {
  }
  textarea {
    width: 100%;
    display: block;
    // vertical-align:top;
    resize: none;
    border: 0;
    padding: 0;
    margin: 0 0 @cell-margin 0;
  }
  input {
    border: 0;
    margin: 0;
    padding: 0;
  }
  input, textarea {
    outline: none;
    color: @color-3;
    font-family: inherit;
    font-size: inherit;
    background-color: @color-1;
    background-color: @color-15;
  }
  textarea:focus, input:focus {
    color: @color-2;
    background-color: @color-7;
  }
}
