<template name="picOnList">
  <span class="picOnListbox">
    <span class="deletePic">×</span>
    <!-- <div class="picSpriteOnList" style="background: {{colorHSL.value}}"> -->
      <div class="picSpriteOnList">
      {{> picSprite}}
    </div>
    <div class="picMetaEdit">
      <ul>
        <li><span class="property">_id: </span>6mSfTasYtXxFNYGzF</li>
        <li><span class="property">name: </span>PT-AssemblerContainer-01t.png</li>
        <li><span class="property">tags: </span><span class="tag">sprite</span><span class="tag">eboy</span></li>
        <li><span class="property">dimensions: </span>117 × 75</li>
        <li><span class="property">backgroundColor: </span>heavyleather</li>
        <li><span class="property">colorHSL(calc): </span>hsl(26, 37%, 20%)</li>
        <li><span class="property">createdAt: </span>Wed Oct 26 2016 01:23:27 GMT-0700 (PDT)</li>
        <li><span class="property">license: </span>CC BY-NC-ND 4.0</li>
        <li><span class="property">copyright: </span>©eBoy</li>
      </ul>
    </div>
  </span>
</template>
