<template name="picOnList">
  <span class="picOnListbox">
    <span class="deletePic">×</span>
      <div class="picSpriteOnList">
      {{> picSprite}}
    </div>
    <div class="picMetaEdit">
      <ul>
        <li>
          <span class="property">tags: </span>
          <span class="editMeta">{{> editTags}}</span>
        </li>
        <li>
          <span class="property">backColor: </span>
          <span class="editMeta">{{> editBackColor}}</span>
        </li>
        <li>
          <span class="property">license: </span>
          <span class="editMeta">{{> editLicense}}</span>
        </li>
        <li>
          <span class="property">copyright: </span>
          <span class="editMeta">{{> editCopyright}}</span>
        </li>
      </ul>
    </div>
  </span>
</template>
