#pixInput {
  padding: @cell-margin;
  margin: 0;
  padding: 0;
  width: 100%;
  margin: @cell-margin;
  ::-webkit-input-placeholder {
    color: @color-10;
  }
  background-color: @color-10;
  .buttonbox {
    background-color: inherit;
    display: block;
    padding: 0.5*@cell-margin;
    margin-top: -@cell-margin;
    text-align: right;
  }
  textarea {
    font-family: @font-meta;
    font-weight: @font-meta-weight;
    font-size: @font-meta-size;
    line-height: @font-meta-lineheight;
    background-color: @color-0;
    color: @color-1;
    width: 100%;
    height: 12rem;
    box-sizing: border-box;
    display: block;
    overflow-wrap: break-word;
    border: @cell-margin solid @color-10;
    margin: 0;
    padding: @cell-margin;
  }
}
