@import './picOnList.less';

#pixListBox {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5 * @cell-margin;
  // background-color: red;
  .pixListItem {
    width: 100%;
    // max-height: 2 * @cell;
    // height: 0.6 * @cell;
    margin: 0.5 * @cell-margin;
    padding: 0;
    overflow: hidden;
    // box-shadow: @boxshadow-1;
  }
}
