<template name="user">
  {{#if showUserInfo}}
    {{#if currentUser}}
      <span id="header-rightbottom">
        <span class="logoffOrLogin">
          <span id="toLogout">{{user}}</span>
          <div class="dropdown-content">
            <a href="#" id="logoutButton">logout</a>
          </div>
        </span>
      </span>
    {{else}}
      <span id="header-rightbottom">
        <span class="logoffOrLogin">
          <a id="toLogin" href="{{toLoginPath}}">login</a>
        </span>
      </span>
    {{/if}}
  {{/if}}
</template>
