@color-0: #ffffff; // white
@color-1: #272822; // main color, for regular text
@color-2: #f0f3f0; // secondary color for boxes, objects
@color-3: #aeaeab;
@color-4: #d0d3d0;
@color-5: #f97070; // alerts
@color-6: #d39322; // highlights
@color-7: #33d; // links
@color-8: #00B7EB; // links 2
@color-9: rgb(245, 245, 245);
@color-10: #00ffff;

@color-delete: @color-5; // background for delete triggers
@color-link-1: @color-10;
@color-link-2: @color-1;
