@color-0: #fff;
@color-0-ninety: hsla(0, 0%, 100%, 0.9);
@color-1: #272822; // main color, for regular text
@color-1-fifty: rgba(70%, 8%, 15%, 0.2); // main color, for regular text
@color-2: #f0f3f0; // secondary color for boxes, objects
@color-3: #aeaeab;
@color-4: #d0d3d0;
@color-5: #f97070; // alerts
@color-5-ninety: rgba(97.6%, 43.9%, 43.9%, 0.9);
@color-5-fifty: rgba(97.6%, 43.9%, 43.9%, 0.5);
@color-5-twenty: rgba(97.6%, 43.9%, 43.9%, 0.2);
@color-6: #d39322; // highlights
@color-7: #46f; // links
@color-8: #00b7eb; // links 2
@color-9: #f5f5f5;
@color-10: #4cd7ff; //#70f9f9;
@color-11: #70f970; // alerts
@color-12: #5ff;
@color-13: #1dd;
@color-14: #3c4da5;
@color-15: #3b488a;
@color-16: #1360bc;
@color-17: #557;
@color-18: #442;
@color-19: hsl(60, 100%, 50%);
@color-19-desat: hsla(56, 95%, 62%, 0.9);
@color-20: #995;
@color-21: #1e3b44;

@color-delete: @color-5; // background for delete triggers
@color-success: @color-11;

@color-link-1: @color-9;
@color-link-2: @color-7;
@color-link-3: @color-1;

@color-inputbox: @color-10;
@color-button: @color-21;
@color-buttontxt: @color-inputbox;

// Set 2
@color-headeractive: @color-1;
@color-headertext: @color-5;
@color-headerback: @color-19;
@color-headerlink: #343522;

@color-footerback: @color-1; // mobile only?

@boxshadow-1: rgba(0, 0, 0, 0.14) 0 2px 2px 0, rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.12) 0 1px 5px 0;
@boxshadow-2: rgba(0, 0, 0, 1) 1px 1px 0 0, rgba(0, 0, 0, 1) 2px 2px 0 0, rgba(0, 0, 0, 1) 3px 3px 0 0, rgba(0, 0, 0, 1) 4px 4px 0 0;
@boxshadow-3: rgba(0, 0, 0, 0.15) 1px 1px 1px 0;
@boxshadow-1-hover: 0 10px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
