// Reference: https://cdn.materialdesignicons.com/3.0.39/

@charset "UTF-8";

@font-face {
  font-family: "mdi";
  src: url("/materialdesignicons-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}

.mdi-shop::before {
  font-family: "mdi";
  content: "\f49a";
  line-height: inherit;
  font-size: inherit;
}

.mdi-database::before {
  font-family: "mdi";
  content: "\f1b8";
  line-height: inherit;
  font-size: inherit;
}

.mdi-twitter::before {
  font-family: "mdi";
  content: "\f544";
  line-height: inherit;
  font-size: inherit;
}

.mdi-instagram::before {
  font-family: "mdi";
  content: "\f2fe";
  line-height: inherit;
  font-size: inherit;
}

.mdi-info::before {
  font-family: "mdi";
  content: "\f2fc";
  line-height: inherit;
  font-size: inherit;
}

.mdi-settings::before {
  font-family: "mdi";
  content: "\f493";
  line-height: inherit;
  font-size: inherit;
}

.mdi-edit::before {
  font-family: "mdi";
  content: "\f3eb";
  line-height: inherit;
  font-size: inherit;
}

.navicons li {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
