@media only screen
and (max-device-width: @breakpoint) {
  #mainBox {
    min-width: 100%;
  }
}
// @media only screen
// and (min-device-width: @breakpoint) {
//
// }

// Shared properties
#mainBox {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  flex-grow: 3;
}
