<template name="quicksInput">
  <div id="quicksInputBox">
    <form class="new-quick">
      <select name="query">
        <option value="tag" selected>tags</option>
        <option value="project">project</option>
        <option value="name">name</option>
        <option value="default">default</option>
      </select>
      <input type="text" name="label" placeholder="label" maxlength="12" size="12"/>
      <input type="text" name="slug" placeholder="search" maxlength="12" size="12"/>
      <input type="text" name="rank" placeholder="rank (0-1)" maxlength="3" size="4"/>
      <button type="submit">Add Quick</button>
    </form>
  </div>
</template>
