#pinned {
  // margin: -1em 0 0.5 * @cell-margin 0;
  margin: -.5em 0 -.5em 0;
  width: 100%;
  height: @cell + 1em;
  // background-color: grey;
  image-rendering: pixelated;
  // background-position: center;
  // box-shadow: @boxshadow-3;
  box-shadow: inset 0 0 2.5em 2em white;
  z-index: -1;
}
