<template name="picSpriteZoom">
  <!-- css hack: fills whole window with background color-->
  <style type="text/css">
    .spriteBoxBody {
      background-color: {{colorHSL.value}};
    }
  </style>
  <figure class="picSpriteBox">
    {{#if isJPG}}
      <img class="jpgSprite" src="{{url}}" width="{{scaledDims.width}}" height="{{scaledDims.height}}"  style="{{antiAliasCSS}}"/>
    {{else}}
      <img class="pngSprite" src="{{url}}" width="{{scaledDims.width}}" height="{{scaledDims.height}}" style="{{antiAliasCSS}}"/>
    {{/if}}
  </figure>
</template>
