@import './pic.less';
@import './picPinned.less';

@media only screen // mobile
  and (max-device-width: @breakpoint) {
  #pixPoolBox {
    width: 100%;
    box-sizing: border-box;

    .pixPoolItem {
      width: 100%;
      max-height: 2 * @cell;
    }
  }
}

@media only screen // desktop
  and (min-device-width: @breakpoint) {
  #pixPoolBox {
    .pixPoolItem {
      width: @cell;
      height: @cell;
    }
  }
}

// Shared properties
#pixPoolBox {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5 * @cell-margin;

  .pixPoolItem {
    // border-radius: 2px;
    margin: 0.5 * @cell-margin;
    padding: 0;
    overflow: hidden;
    box-shadow: @boxshadow-1;
    // &:hover {
    //   box-shadow: @boxshadow-1-hover;
    //   transition: box-shadow 0.3s;
    // }
  }
}
