#appheader {
  z-index: 9;
  padding: 2 * @cell-margin;
  width: 0 auto;
  height: 0.5 * @cell - 2 * @cell-margin;
  background-color: @color-headerback;
  color: @color-headertext;
  line-height: @font-regular-lineheight;
  display: flex;
  justify-content: space-between;
  #appheader-left {
    min-width: @cell;
    position: relative;
    #navlogo {
      font-size: @font-big-size;
      font-family: @font-big;
      font-weight: @font-big-weight;
      line-height: @font-big-lineheight;
      user-select: none;
      padding: 0.25em;
      padding: 0;
      margin: 0;
      span, a {
        padding: 0 0.25em;
      }
      a {
        box-shadow: @boxshadow-1;
        text-decoration: none;
        color: @color-headerlink;
      }
      a:hover {
        background-color: @color-headerlink;
        color: @color-headerback;
      }
    }
    #navSearch {
      display: block;
      left: 0;
      bottom: 0;
      position: absolute;
    }
  }
  #appheader-right {
    min-width: @cell;
    position: relative;

    #pageInfo, #countColors {
      text-align: right;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      white-space: nowrap;
      .searchSlug {
        text-transform: capitalize;
      }
    }
    #navPagingBox {
      position: fixed;
      min-width: @cell;
      text-align: right;
      z-index: 100;
    }
  }
}
