@import './navLinks.less';
@import './quickLinks.less';

@media only screen
and (max-device-width: @breakpoint) {
  #social {
    z-index: 20;
    position: relative;
    // background-color: @color-headertext;
    // background-color: @color-headerlink;
  }
  #quicks {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    // background-color: @color-headerlink;
  }
  #quicks, #social {
    margin: 0;
    padding: @cell-margin 2* @cell-margin;
    text-align: left;
  }
}
@media only screen
and (min-device-width: @breakpoint) {
  #linkStrip {
    display: flex;
    justify-content: space-between;
  }
  #quicks, #social {
    display: inline-block;
    margin: 0;
    // padding: 0;
    padding: 0.5 * @cell-margin 2 * @cell-margin;
  }
}
#linkStrip {
  background-color: @color-headerlink;
  // background-color: @color-headertext;
  // display: flex;
  #social .topiconlink {
    font-family: @font-icons;
  }
  #quicks, #social {
    color: @color-3;
    font-family: @font-navbar;
    font-size: @font-navbar-size;
    font-weight: @font-navbar-weight;
    .toptextlink, .topiconlink {
      list-style: none;
      display: inline-block;
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          color: @color-0;
          padding: 0 3px;
          margin: 0 -3px;
        }
      }

    }
    .topiconlink a:hover {
      text-decoration: none;
    }
    .toptextlink a:hover {
      text-decoration: underline;
    }
    li:after {
      content: '|';
    }
    li:last-of-type:after {
      content: '';
    }
  }
}
