.logo a {
  text-decoration: none;
  color: @color-headerlink;
  // color: @color-headertext;
  // font-size: 2rem;
  // line-height: 2rem;
  // display: block;
}
.logo a:hover {
  background-color: @color-headerlink;
  color: @color-headerback;
  padding: 0 3px;
  margin: 0 -3px;
}
