// mobile
@media only screen
  and (max-device-width: @breakpoint) {
  #appheader {
    font-size: @font-controls-size-m;

    #logotype {
      font-size: @font-logo-size-m;
      line-height: @font-logo-lineheight-m;
    }
  }
}

// desktop
@media only screen
  and (min-device-width: @breakpoint) {
  #appheader {
    font-size: @font-controls-size;

    #logotype {
      font-size: @font-logo-size;
      line-height: @font-logo-lineheight;
    }
  }
}

// shared properties
#navlogo {
  font-family: @font-logo;
  font-style: @font-logo-style;
  font-weight: @font-logo-weight;
  letter-spacing: @font-logo-spacing;
  text-transform: uppercase;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  cursor: default;
  padding: 0;
  margin: 0;
  color: @color-headerlink;

  span,
  a {
    float: left;
    padding: 0 0.12em 0 0.12em;
  }

  a {
    text-decoration: none;
    color: @color-5;

    &:active {
      color: @color-5-fifty;
      background-color: @color-headerback;
      transition: background-color 0s linear;
    }
  }

  #togglePlusBox {
    font-family: 'Material Icons';
    padding: 0;
    margin: 0;
    background-color: @color-19-desat;

    #logotype {
      font-style: @font-logo-style;
    }

    a {
      padding: 0;
      margin: 0;
    }

    .inactive {
      color: @color-5;
    }

    .active {
      color: @color-5;
    }

    .active,
    .inactive {
      font-size: inherit;

      &:active {
        color: @color-5-fifty;
        background-color: @color-headerback;
      }
    }
  }
}
