<template name="navLinks">
  <ul class="linkslist">
    <li>
      {{#if toPoolPath}}
        <a href="{{toPoolPath}}">pool</a>
      {{else}}
        pool
      {{/if}}
    </li>
    <li>
      {{#if toAddDocsPath}}
        <a href="{{toAddDocsPath}}">addDoc</a>
      {{else}}
        addDoc
      {{/if}}
    </li>
    <li>
      {{#if toColorsPath}}
        <a href="{{toColorsPath}}">colors</a>
      {{else}}
        colors
      {{/if}}
    </li>
    <li>
      {{#if toListPath}}
        <a href="{{toListPath}}">list</a>
      {{else}}
        list
      {{/if}}
    </li>
  </ul>
</template>
