.navPagingBox {
  font-size: @font-size-big;
  font-weight: @font-weight-bold;
  padding: 0;
  margin: 0;
  color: @color-1;
  li {
    display: inline;
    margin-right: 0.25em;
    a {
      padding: 0 0.25em;
    }
  }
  .active {
    a {
      cursor: pointer;
      color: @color-headerlink;
      background-color: @color-headerback;
      // transition: background-color 0.2s linear;
      user-select: none;
      box-shadow: @boxshadow-1;
    }
    a:hover {
      background-color: @color-headerlink;
      color: @color-headerback;
    }
    a:active {
      background-color: @color-headeractive;
      color: @color-headerback;
      box-shadow: none;
    }
  }
  .inactive {
    a {
      color: @color-headertext;
      background-color: @color-headerback;
      // opacity: 0.5;
      box-shadow: none;
      transition: background-color 0.2s linear, box-shadow 0.2s linear;
      user-select: none;
    }
  }
}
