@media only screen
and (max-device-width: @breakpoint) {
  #navPagingBox {
    font-size: @font-big-size * 0.8;
  }
}

@media only screen
and (min-device-width: @breakpoint) {
  #navPagingBox {
    font-size: @font-big-size;
  }
}

#navPagingBox {
  font-family: @font-big;
  font-weight: @font-big-weight;
  line-height: @font-big-lineheight;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  user-select: none;
  .nextPage {
    margin-left: @cell-margin;
  }
  span {
    display: inline-block;
    a {
      // padding: 0;
      padding: 0 0.1em;
    }
  }
  .active, .togglePlusBox {
    a {
      cursor: pointer;
      color: @color-headerlink;
      background-color: @color-headerback;
      box-shadow: @boxshadow-1;
      text-decoration: none;
    }
    a:hover {
      background-color: @color-headerlink;
      color: @color-headerback;
    }
    a:active {
      background-color: @color-headeractive;
      color: @color-headerback;
      box-shadow: none;
    }
  }
  .inactive{
    a {
      color: @color-headertext;
      background-color: @color-headerback;
      box-shadow: none;
      transition: background-color 0.2s linear, box-shadow 0.2s linear;
    }
  }
}
