@media only screen
and (max-device-width: @breakpoint) {
  #navPagingBox {
    font-size: @font-big-size-m;
  }
}

@media only screen
and (min-device-width: @breakpoint) {
  #navPagingBox {
    font-size: @font-big-size;
  }
}

#navPagingBox {
  line-height: @font-big-lineheight;
  font-family: 'Material Icons';
  padding: 0;
  margin: 0;
  white-space: nowrap;
  user-select: none;
  cursor: default;
  span {
    display: inline-block;
    float:right;
    a {
      float:inherit;
    }
  }
  .active a, .inactive a{
    background-color: @color-19-desat;
  }
  .active {
    a {
      opacity: 1;
      cursor: pointer;
      color: @color-5;
      text-decoration: none;
      &:hover {
        transition: background-color 0.3s linear;
        background-color: @color-5;
        color: @color-headerback;
      }
      &:active {
        transition: background-color 0s linear;
        color: @color-5-fifty;
        background-color: @color-headerback;
      }
    }
  }
  .inactive a {
    color: @color-headerlink;
  }
}
