#navSearch {
  display: block;
  input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: @color-headeractive;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: right;
    background-color: transparent;
    text-transform: capitalize;
  }
  input:focus {
    color: @color-headeractive;
    background-color: transparent;
    outline: none;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    transition: opacity 0.2s 0.0s ease;
    color: @color-headerlink;
  }
  [placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.2s 0.4s ease;
    opacity: 0;
  }
}
.toggleNameSearch,
.toggleTagSearch,
.toggleProjectSearch {
  cursor: pointer;
  user-select:none;
  color: @color-headerlink;
  background-color: @color-headerback;
}
.switchToNext {
  cursor: pointer;
  user-select:none;
  color: @color-headerlink;
}
