@media only screen
and (max-device-width: @breakpoint) {
  #searchBox {
    input {
      width: 100%;
    }
  }
}
@media only screen
and (min-device-width: @breakpoint) {
  #searchBox {
    input {
      width: @cell - 2*@cell-margin;
    }
  }
}

#searchBox {
  box-sizing: border-box;
  height: 3rem;
  background-color: @color-5;
  form {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0.5 * @cell-margin;
    font-family: @font-meta;
    font-size: @font-meta-size;
    #pixCount, #pageCount {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 0 @cell-margin;
      margin: 0.5*@cell-margin;
      color: rgba(220, 255, 220, 0.7);
      font-family: @font-big;
      font-size: 1.2rem;
      background-color: rgba(220, 255, 220, 0.2);
    }
    select {
      font-family: inherit;
      font-size: inherit;
      color: @color-5;
      -webkit-appearance: none;
      background-color: rgba(250, 250, 220, 0.9);
      padding: 0.5em;
      margin: 0;
      border: 0.5*@cell-margin solid @color-5;
      overflow: hidden;
      border-radius: 0;
      option {
        font-family: inherit;
      }
    }
    input {
      border: 0.5 * @cell-margin solid @color-5;
      font-family: inherit;
      font-size: inherit;
      padding: @cell-margin;
      margin: 0;
      text-align: right;
      background-color: white;
    }
    ::-webkit-input-placeholder {
      color: @color-5;
      text-align: right;
    }
    button {
      border-color: @color-5;
    }
  }
}

.searchHide {
  margin-top: -3rem;
  transition: 0.05s;
}
.searchShow {
  position: relative;
  transition: 0.05s;
}
