<template name="searchBox">
  <div id="searchBox">
    <form class="searchFor">
      {{> pageCount}}
      {{> pixCount}}
      <select name="query">
        {{#each queryList}}
          <option value="{{this.value}}" {{this.selected}}>
              {{this.label}}
            </option>
        {{/each}}
      </select>
      <input type="text" name="slug" placeholder="{{searchPlaceholder}}" maxlength="24" size="24"/>
      <!-- <button type="submit">Go</button> -->
    </form>
  </div>
</template>
