<template name="sideBox" >
  <div id="sideBox" class="{{showSideBoxCSS}}">
    <div class="sideBoxMain">
      {{> quickLinks}}
      <hr>
      <ul id="quicks">
        <li class="toptextlink">
          <a href="https://shop.eboy.com/" target="_blank" class="mdi-shop">Shop</a>
        </li>
        <li class="toptextlink">
          <a href="https://twitter.com/eboyarts/" target="_blank" class="mdi-twitter">Twitter</a>
        </li>
        <li>
          <a href="https://www.instagram.com/eboyarts/" target="_blank" class="mdi-instagram">Instagram</a>
        </li>
      </ul>
      <hr>
      <ul class="navicons">
        <li>
          {{!-- <i class="material-icons {{#if showInfoBox}}active{{/if}}" id="info">info</i> --}}
          <i class="material-icons {{infoIconActive}}" id="info">info</i>
        </li>
        <li>
          {{!-- <i class="material-icons {{#if showSettingsBox}}active{{/if}}" id="settings">settings</i> --}}
          <i class="material-icons {{settingsIconActive}}" id="settings">settings</i>
        </li>
        {{#if isAdminOrEditor}}
          <li>
            <a href="{{toEditorPath}}">
              <i class="material-icons" id="edit">edit</i>
            </a>
          </li>
        {{/if}}
      </ul>
    </div>
    <ul class="fineprint {{showInfo}}">
      <li><a href="mailto:someone@example.com?Subject=Hello%20eBoy!" target="_blank">eboy@eboy.com</a></li>
      <li><a href="/humans.txt" target="_blank">about: &#47;humans.txt</a></li>
      <li>&copy;{{copyright}} {{thisYear}}</li>
    </ul>
    <ul class="fineprint {{showSettings}}">
      {{#if isAdminOrEditor}}
        <li><a href="/addDoc">add pic</a></li>
        <li><a href="/colors">colors</a></li>
        <li><a href="/quicks">quicks</a></li>
        <li><a href="/devices">devices</a></li>
      {{/if}}
      <li><a href="/dashboard">dashboard</a></li>
    </ul>
  </div>
</template>
