<template name="sideBox" >
  <div id="sideBox" class="{{showSideBoxCSS}}">
    {{> quickLinks}}
    <hr>
    <ul class="navicons">
      <li id="infobox">
        <i class="material-icons" id="info">info</i>
      </li>
      <li>
        <a href="http://shop.eboy.com/" target="_blank">
          <i class="material-icons" id="shopping">shopping_cart</i>
        </a>
      </li>
      {{#if isAdminOrEditor}}
        <li>
          <a href="{{toEditorPath}}">
            <i class="material-icons" id="edit">edit</i>
          </a>
        </li>
      {{/if}}
      <li id="settingsbox">
        <a href="/dashboard">
          <i class="material-icons" id="settings">settings</i>
        </a>
      </li>
    </ul>
    {{#if showInfoBox}}
      <ul class="fineprint">
        <li><a href="mailto:someone@example.com?Subject=Hello%20eBoy!" target="_blank">eboy@eboy.com</a></li>
        <li><a href="/humans.txt" target="_blank">about: &#47;humans.txt</a></li>
        <li>&copy;{{copyright}} {{thisYear}}</li>
      </ul>
    {{/if}}
    {{#if isAdminOrEditor}}
      {{#if showSettingsBox}}
        <ul class="fineprint">
          <li><a href="/addDoc">add</a></li>
          <li><a href="/colors">colors</a></li>
          <li><a href="/quicks">quicks</a></li>
        </ul>
      {{/if}}
    {{/if}}
  </div>
</template>
