@media only screen
and (max-device-width: @breakpoint) {
  #sideBox {
    width: 100%;
    padding: @cell-margin;
    #quicks {
      a, span {
        padding: @cell-margin;
        text-align: center;
      }
    }
  }
}

@media only screen
and (min-device-width: @breakpoint) {
  #sideBox {
    width: @cell + @cell-margin;
    float: left;
    padding: @cell-margin 0 @cell-margin @cell-margin;
    #quicks {
      a, span {
        padding: @cell-margin 2*@cell-margin;
      }
    }
  }
}

#sideBox {
  box-sizing: border-box;
  // background-color: lightgreen;
  font-family: @font-big;
  font-size: 2rem;
  line-height: 1.6rem;
  ul {
    padding: 0;
    margin: 0;
    display: block;
  }
  #quicks li, .shoplink li {
    list-style: none;
    width: 100%;
    // text-transform: uppercase;
    .toggleEditorLinks {
      cursor: pointer;
    }
    span {
      background-color: @color-9;
      color: @color-1;
      user-select: none;
      cursor: default;
    }
    a, span {
      display: block;
      text-decoration: none;
    }
    a, .toggleEditorLinks {
      color: @color-5;
      background-color: @color-0;
    }
    a:hover, .toggleEditorLinks:hover {
      background-color: #f5f5f5;
      color: @color-5;
    }
  }
  .fineprint {
    padding-top: 2*@cell-margin;
    font-size: 1rem;
    line-height: 1.2rem;
    color: @color-5;
    font-style: italic;
    li {
      padding-left: 2*@cell-margin;
      list-style: none;
    }
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: @color-1;
      }
    }
  }
  .social{
    padding-left: 2*@cell-margin;
    padding-top: 4*@cell-margin;
    display: block;
    font-family: socicon;
    font-size: 0.75rem;
    line-height: 1.2rem;
    a {
      text-decoration: none;
      color: @color-5;
      opacity: 0.9;
      padding: 0.3em 0.4em;
      border-radius: 12em;
      border: 1px @color-5 solid;
      margin-right: 0.3em;
      &:hover {
        background-color: @color-1;
        color: @color-0;
        border: 1px @color-1 solid;
      }
    }
  }
  hr {
    border: 0;
    padding: 0;
    margin: @cell-margin 0;
    height: 1px;
    background-image: linear-gradient(to right, @color-5, @color-0);
  }

}
