.colorSwatch {
  display: block;
  height: 100%;
  .colorInfos {
    .deleteColor {
      display: inline-block;
      background: @color-2;
      color: @color-5;
      padding: 0.5 * @cell-margin @cell-margin;
      z-index: 10;
      cursor: pointer;
    }
    .deleteColor:hover {
      color: @color-2;
      background-color: @color-5;
    }
    .colorName {
      display: inline-block;
      background-color: @color-2;
      padding: 0.5 * @cell-margin @cell-margin;
    }
    .colorMeta {
      padding: 0.5 * @cell-margin @cell-margin;
      font-family: @font-meta;
      font-size: @font-meta-size-small;
      line-height: @font-meta-lineheight;
      display: block;
      color: @color-1;
      .colorTags {
        padding: 0;
      }
      .hslValue {
        display: block;
        padding: 0;
      }
    }
  }
}
